<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Conference</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<h1>Admin Conference</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Short Desc</th>
        <th>Full Desc</th>
        <th>Create Dttm</th>
        <th>End Date</th>
        <th>Last Update Dttm</th>
        <th>Location ID - Location Short Desc</th>
    </tr>
    <tr th:each="conference : ${conferences}">
        <td th:text="${conference.id}"></td>
        <td th:text="${conference.name}"></td>
        <td th:text="${conference.shortDesc}"></td>
        <td th:text="${conference.fullDesc}"></td>
        <td th:text="${conference.createDttm}"></td>
        <td th:text="${conference.endDate}"></td>
        <td th:text="${conference.lastUpdateDttm}"></td>
        <td th:text="${conference.locationView.id} + ' : ' + ${conference.locationView.shortDesc}"></td>
    </tr>
</table>

</body>
</html>